<%- include('includes/head'); %>
<body>

  <section class="container">
    <h1>
      Lorem Normal
        <!-- <% if(typeof titulo !== 'undefined') { %>
          <%= titulo %>
        <% } else {%>
          O título não foi enviado
        <% }%> -->

        <!-- <% numeros.forEach(num => { %>
          <%= num %><br>
        <% }); %> -->
    </h1>
  </section>

<%- include('includes/footer'); %>
